body{

    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ccc;
}
.hero{
    background-image: url(img/cbum2.jpg);
    height: 600px;
    background-size: cover;
    background-position: 00px 9010px;
    padding-top: 1px; /*para ajustar o topo*/
    
}

.principal{
    margin: 100px auto 0 auto; /* cima, direita, baixo esquerda */
    width: 80%;
    color: aliceblue;
    text-align: center;
}
.principal h1{

    font-size: 56px;
    text-shadow: 2px 2px 2px blue;/*SOMBRA*/
    text-transform: uppercase;
    margin-bottom: 0;
}
.principal p{
    background-color: rgba(0,0,0, 0.7);
    font-size: 20px;
    display: inline-block;
    padding: 17px;
    border-bottom: 2px solid;
}
.hero nav ul{
   margin: 20px 50px 0 0;/*cima direita baixo esquerda*/
   text-align: right;
}

.hero nav li{
    display: inline-block;
    list-style-type: none;
    border: 1px solid wheat;
    margin-left: 16px;
}

.hero nav a{
    background-color: rgba(0,0,0, 0.3);
    padding: 16px;
    display: block;
    color: aliceblue;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2px;
}
.hero nav a:hover{
    background-color: rgba(0,0,0,.5);
}

main{
    width: 90%;
    margin: auto;
    max-width: 860px;
}

section{
padding-top: 32px;

}

article{
    background-color: white;
    padding: 20px;
    margin-bottom: 32px;
    margin-top: 32px;
}
article h2{
    border-bottom: 2px solid #ccc;
    background-color: #eee;
    padding: 10px;
    margin-top: 0;
}

.btn{
    background-color: #cdc7c3;
    display: inline-block;
    padding: 12px;
    border-radius: 6px;
}

.fim{
    color: white;
    background-color: #6b6c68;
    text-align: center;
    padding: 30px;
    text-shadow: 2px 2px 2px black;
    letter-spacing: 2px;
}